@model ICollection<PropertyVM>;




@if (Model.Any())
{

    @foreach (var item in Model)
    {

            <!-- ltn__product-item -->
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                    <div class="product-img">
                        <a href="product-details.html"><img src="@item.PropertyImages.FirstOrDefault().ImageUrl" alt="#"></a>

                    </div>
                    <div class="product-info">
                        <div class="product-badge">
                            <ul>
                                <li class="sale-badg">@item.Status?.StatusName</li>
                            </ul>
                        </div>
                        <div class="product-description">
                            @Html.Raw(item.Description)

                        </div>
                        <div class="product-img-location">
                            <ul>
                                <li>
                                    <a><i class="flaticon-pin"></i> @item.Governorate?.GovernorateName, @item.City?.CityName</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                            <li>
                                <span>@item.Bedrooms</span>
                                غرف
                            </li>
                            <li>
                                <span>@item.Bathrooms</span>
                                حمام
                            </li>
                            <li>
                                <span>@item.Area</span>
                                المساحة
                            </li>
                        </ul>
                        <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                            <li>
                                تاريخ النشر
                                <span>@item.CreatedDate</span>
                            </li>

                        </ul>
                        <div class="product-hover-action">
                            <ul>
                                <li>
                                    <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                        <i class="flaticon-expand"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                        <i class="flaticon-heart-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="product-details.html" title="Product Details">
                                        <i class="flaticon-add"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-info-bottom">
                        <div class="product-price">
                            <span>@item.Price  <label>/جنية</label></span>
                        </div>
                    </div>
                </div>
            </div>
    }

}
else
{
    <div class="col-lg-12">
        <div class="section-title-area ltn__section-title-2--- text-center">
            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">العقارات</h6>
            <h1 class="section-title">لا توجد عقارات</h1>
        </div>
    </div>
}